th
{
	border:1px solid black;
	margin: 0;
	padding: 5px;

	width: 50%;
}

table
{
	width:100%;
	caption-side: top;
}

caption
{
	font-style: italic;
}

body
{
	width:90%;
	margin:auto;
	border:1px solid red;
}

img
{
	width:300px;
}