/*Général*/
@font-face {
	font-family: 'Viking';
	src: url('DIOGENES.ttf');
}
body
{
	width:100%;
	min-width:950px;
	margin:auto;
	font-family:Verdana;
	background-color:rgb(244,235,221);
}

header
{
	background-color: rgb(32,80,151);
	padding-bottom: 20px;
}

footer
{
	background-color: rgb(32,80,151);
	margin:0px;
	box-shadow: 0px 0px 20px;
	font-family:'Viking',Verdana;
}
footer p
{
	color:rgb(244,235,221);
	text-align: center;
	padding:20px;
	margin:0px;
}

header img, footer img
{
	width:100%;
	box-shadow: 0px 0px 20px;
}

/* MENU */
nav
{
	background-color: rgb(32,80,151);
	padding: 0px;
}

ul
{
	margin:auto;
	width:auto;
	text-align:center;
	list-style:none;
}

li
{
	padding:0 5%;
	display:inline-block;
}

li a, li
{	
	color:rgb(244,235,221);
	font-family:Verdana;
	border:0px;
	transition-duration:0.3s;
	background-color:rgb(32,80,151);
	padding-top:20px;
	padding-bottom: 20px;
	text-decoration: none;
}

li:hover a, #pageActuelle a
{	
	color:rgb(32,80,151);
	text-shadow:1px 0px 1px rgb(244,235,221);
	background-color: rgb(244,235,221)

}

 li:hover, #pageActuelle
{
	background-color: rgb(244,235,221);
}

/*Tableau*/
th
{
	width: 50%;
	border:5px solid brown;
	margin: 0;
	padding: 20px;
	font-weight: normal;
}

.descriptionDev
{
	text-align: justify;
}

table
{
	width:auto;
	margin: 20px;
	caption-side: top;
	border-collapse: collapse;
	border:5px solid black;
}
th img
{
	border: 3px solid rgb(32,80,151);
	border-radius: 10px;
	width:25vw;
	transition-duration:1s;
}
th img:hover
{
	box-shadow: 0px 0px 20px black;
}

caption{
	font-style: italic;
}

#logoIndex{
	float:left;
	display:block;
	padding:10px;
	width:30%;
}

hr
{
	clear:both;
	visibility:hidden;
}

.centrer
{
	margin:auto;
	width:50%;
	text-align:left;
}

fieldset
{
	border:5px black solid;
	border-radius:10px;
	margin:10px;
}

#textuel{
	display:inline-block;
	width:50%;
	margin-right:9%;	
}

#maquetteIHM{
	display:inline-block;	
	width:40%;
	vertical-align:top;
	text-align:right
}

#maquetteIHM > img{
	width:100%;
}

.titreMaquette{
	margin-top:3%;
	font-weight:bold;
	text-align:center;
}

#boutonEnvoi
{
	text-align:center;	
	margin:auto;
	padding:5px;
	width:30%;
	background-color:rgb(32,80,151);
	border:1px rgb(32,80,151) solid;
	border-radius:10px;
	transition-duration:0.3s;
}
#boutonEnvoi a
{
	color:rgb(244,235,221);
	text-decoration: none;
}

#boutonEnvoi:hover
{		
	transform:scale(1.5);
	box-shadow: 0px 0px 5px black;
}